<div class="container">

  <div class="content-first-categoria">
    <div class="box-container">
      <div class="button-container">
        <h1><strong>Salud</strong></h1>
        <button *ngFor="let categoria of todasLasCategorias.slice(0, 4)"
          [class.activo]="esCategoriaPrincipalActiva(categoria.nombre)"
          (click)="onClickCategoriaPrincipal(categoria.nombre)" class="categoria-button" #botonCategorias>
          {{categoria.icono}} {{ categoria.nombre }}
        </button>
      </div>
    </div>
    <div class="box-container">
      <div class="button-container">
        <h1><strong>Otros</strong></h1>
        <button *ngFor="let categoria of todasLasCategorias.slice(4, 6)"
          [class.activo]="esCategoriaPrincipalActiva(categoria.nombre)"
          (click)="onClickCategoriaPrincipal(categoria.nombre)" class="categoria-button" #botonCategorias>
          {{categoria.icono}} {{ categoria.nombre }}
        </button>
      </div>
    </div>
  </div>

  <div class=" content-display-column">
    <ng-container *ngIf="categoriaPrincipalActiva">
      <h2>Contenido de {{ categoriaPrincipalActiva }} </h2>
      <div class="subcategorias-main-container">
        <h4>¿Qué tema deseas profundizar?:</h4>

        <div class="button-column-container">
          <ng-container *ngFor="let subCategoria of subCategoriasAMostrar">
            <button #botonSubCategorias [class.activo]="esSubCategoriaActiva(subCategoria.codigo)"
              (click)="onClickSubCategoria(subCategoria.codigo)" class="subcategoria-button">
              <span class="titulo">{{ subCategoria.titulo }}</span>
              <span class="descripcion">{{ subCategoria.descripcion }}</span>
            </button>

            <div *ngIf="esSubCategoriaActiva(subCategoria.codigo)" class="preguntas-respuestas-container">
              <h4>Elige tu pregunta: </h4>
              <div class="botones-preguntas-container">
                <ng-container *ngFor="let pr of preguntasAMostrar">
                  <button #botonPregResp [class.activo]="esPreguntaActiva(pr.pregunta)"
                    (click)="onClickPregunta(pr.pregunta)" class="pregunta-button">
                    {{ pr.pregunta }}
                  </button>

                  <div *ngIf="esPreguntaActiva(pr.pregunta)" class="respuesta-area">
                    <p #respTexto>{{ pr.respuesta }}</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>

      </div>
    </ng-container>

    <div *ngIf="!categoriaPrincipalActiva" class="no-selection-message">
      <p>Selecciona una categoría para ver su contenido.</p>
    </div>
    <!--
</div>
-->
  </div>
