<mat-card>
  <mat-card-content>
    <mat-card class="asistente-card">
      <mat-card-header class="asistente-card-header">
        <div class="logo-container">
          <img [src]="logoSrc" alt="Logo Hospital Félix Bulnes" class="asistente-logo"
            onerror="this.onerror=null;this.src='https://placehold.co/150x100/CCCCCC/333333?text=Logo+no+disponible';">
          <img [src]="logoUssSrc" alt="Logo Universidad San Sebastian" class="asistente-logo"
            onerror="this.onerror=null;this.src='https://placehold.co/150x100/CCCCCC/333333?text=Logo+no+disponible';">
        </div>
        <mat-card-title class="asistente-title">
          ¡Bienvenido/a al Asistente de escuela de Cuidadores del <span class="hospital-name">Hospital Félix
            Bulnes</span>!
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="asistente-content">
        <p class="asistente-text">
          Estoy aquí para brindarte apoyo y orientación.
        </p>
        <p class="asistente-call-to-action">
          Por favor, <span class="highlight-text">indica en qué tema deseas que te ayude hoy</span>.
        </p>
      </mat-card-content>
    </mat-card>


    <app-menu-deroulant></app-menu-deroulant>
  </mat-card-content>
  <mat-card-footer>
    <p>Derechos reservados © 2025</p>
  </mat-card-footer>
</mat-card>